<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Address Bean -->
    <bean id="addid" class="depndency.injection.Address">

        <constructor-arg value="0101"/>
        <constructor-arg value="New dehli"/>
        <constructor-arg value="202410"/>
        <constructor-arg value="MP"/>

    </bean>

    <!-- Student Bean -->
    <bean id="stdid1" class="depndency.injection.ClassDI">

        <constructor-arg value="Vijay"/>
        <constructor-arg value="Narendra"/>
        <constructor-arg value="111"/>
        <constructor-arg ref="addid"/>

    </bean>

</beans>